.title {
  color: rgb(255, 192, 56);
  font-size: 32px;
}

.serch {
  margin-top:auto;
  float: right;
}

.linea-blue {
  background-color: blue;
  height: 30px;
  margin: 10px;
}

.columna1 {
  width: 150px;
  margin:15px;
  float: left;
}

.primero {
  border: solid 1px rgb(36, 35, 35);
  background-color: whitesmoke;
  margin: 10px;
  padding: 6px;
  width: 150px;
  
}


.segundo {
  border:dotted 2px rgb(255, 219, 14);
  background-color: rgb(255, 255, 124);
  width: 150px;
  margin: 10px;
  padding: 5px;
}

.columna2 {
  width: 800px;
  margin:30px;
  float: left;
}

.dibujo-gato {
  float: left;
  margin: 15px;
  width: 150px;
  height: 150px;
}

.naturaleza {
  float: left;
  margin: 15px;
  width: 150px;
  height: 150px;
}

.columna3 {
  float: left;
  width: 200px;
  margin:5px;
  border: solid 1px orange;
  padding: 5px;
}

.tituloCol {
  padding: 10px;
  background-color: orange;
  margin-top: 0px;
  font-size: 20px;
}

.footer {
  padding: 10px;
  margin-top: 0;
  text-align: center;
  border: solid 1px rgba(216, 216, 216, 0.877);
  float: left;
  width: 95%;
  margin: 10px;
}

.f-left {
  float: left;
  margin: 4px;
}

.f-right {
  float: right;
}